#colEndDate{
    -fx-alignment: center;
}
#colStartDate{
    -fx-alignment: center;
}
#btnUsersSettings{
    -fx-background-image: url("../images/User.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnProjectSettings{
    -fx-background-image: url("../images/Application-View-Tile.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}


#btnAddProject{
    -fx-background-image: url("../images/Page-Add.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnEditProject{
    -fx-background-image: url("../images/Page-Edit.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnDeleteProject{
    -fx-background-image: url("../images/Page-Delete.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnAddTask{
    -fx-background-image: url("../images/Calendar-Add.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnEditTask{
    -fx-background-image: url("../images/Calendar-Edit.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnDeleteTask{
    -fx-background-image: url("../images/Calendar-Delete.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}


#btnAddUser{
    -fx-background-image: url("../images/User-Add.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

#btnEditUser{
    -fx-background-image: url("../images/User-Edit.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
#btnDeleteUser{
    -fx-background-image: url("../images/User-Delete.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}
